:root {
  --btnBoxTop_bgColor: #5a5a5a;
  --btnBoxTop_txColor: white;
  --btnBoxItem_bgColor: #a0a0a0;
  --btnBoxItem_txColor: black;
  --btnDisabled_txColor: #555;
  --btnDisabled_bgColor: #333;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    /*  cursor: default; */
}

* {
margin: 0;
padding: 0;
box-sizing : border-box;
font: 15px "Roboto", Helvetica, Arial, san-serif;
}

html,
body {
height: 100%;
}

.container {
height: 100%;
min-height: 100%;
display: flex;
flex-direction: column;
}

.vbox {
display: flex;
flex-direction: column;
flex: 0 0 auto;
padding: 5px;
background: gray;
}

.hbox {
display: flex;
flex-direction: row;
flex: 0 0 auto;
padding: 5px;
background: gray;
}

.hboxFill {
display: flex;
flex-direction: row;
flex: 1 1 auto;
padding: 5px;
background: gray;
}

.vboxFill {
display: flex;
flex-direction: column;
flex: 1 1 auto;
padding: 5px;
background: gray;
}

.inputEntry {
  height: 30px;
  margin-right: 10px;
  width: 150px;
  padding-left: 5px;
  color: black;
  text-align: center;
  border-radius: 5px;
}

.inputEntry:hover {
  border-color: blue;
  cursor: pointer; 
}

.invalid {
  color: red !important;
}

.label {
margin-left: 5px;
height: 20px;
color: white;
}

.noMargin {
margin: 0px;
}

.leftMargin {
margin-left: 5px;
}

.btn {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color:var(--btnBoxTop_bgColor);
  color: var(--btnBoxTop_txColor);
  border: 3px solid var(--btnBoxTop_bgColor);
  padding: 5px;
  text-align:center;
  font-weight: bold;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  height: 30px;
  margin-right: 10px;
}

#btnNow {
  width: 150px;
}

.btn:hover {
  background-color: var(--btnBoxItem_bgColor);
  cursor: pointer; 
}

.btnDisabled {
  color: var(--btnDisabled_txColor) !important;
  background-color: var(--btnDisabled_bgColor) !important;
}